<%- include('./partials/head', {title: 'Todos nuestros productos - La Casa de la Musica' }) %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="index-title-container"><div class="index-title">TODOS NUESTROS PRODUCTOS</div><div class="index-title-bar"></div></div>
                <section class="contenedor-articulos">
                    <!-- TODOS LOS PRODUCTOS-->

                    <% products.forEach((product) => { %>
                        <% if (product.category_id) { %>
                            <%- include('./partials/productCard', {product : product}) %>
                                <% }}) %>
                </section>


            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>