<%- include('./partials/head', {title: 'Error - La Casa de la Musica' }) %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="forms-title-container"><div class="forms-title">ERROR 404</div><div class="forms-title-bar"></div></div>
                <div class="icono-not-found"><i id="iconos-barra" class="fas fa-exclamation-triangle"></i></div>
                <div class="div-not-found"><p class="texto-not-found">PAGINA NO ENCONTRADA</p></div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>