<div class="producto-carro-compras">
    <div>
        <img src="/images/products/product-default.png" alt="" width="70px" class="fotos-carrito">
    </div>
    <div class="datos-carro-compras">
        <div class="datos-arriba">
            <p>Nombre del producto</p>
            <p>$0.00</p>
        </div>
        <div class="datos-abajo">
            <a href="#"><i  class="fas fa-plus articulo-boton-carro" style="margin-right: 20px;"></i></a>
            <p class="cantidad-carrito">0</p>
            <a href="#"><i class="fas fa-minus articulo-boton-carro" style="margin-right: 20px;"></i></a>
            <a href="#"><i class="fas fa-trash-alt articulo-boton-carro" style="margin-right: 20px;"></i></a>
        </div>
    </div>
</div>