<footer class="footer">
    <div class="imagen-logo-footer-div">
        <a href="/"><img class="imagen-logo-footer" src="/images/logo.png" alt="logo de Casa de La Musica"></a>
        <div class="social-containers">
            <div class="social-title">Seguinos</div>
            <div class="social-icons">
                <a href="#" class="social-icons-a"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icons-a"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icons-a"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icons-a"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <nav class="barra-navegacion-footer">
        <ul class="barra-items-footer">
            <h3 class="h3-footer">PRODUCTOS</h3>
            <div class="linea-inferior"></div>
            <li class="items-footer"><a href="/products/section/1">Guitarras</a></li>
            <li class="items-footer"><a href="/products/section/8">Bajos</a></li>
            <li class="items-footer"><a href="/products/section/4">Accesorios</a></li>
            <li class="items-footer"><a href="/products/section/3">Audio</a></li>
        </ul>
        <ul class="barra-items-footer">
            <h3 class="h3-footer">EMPRESA</h3>
            <div class="linea-inferior"></div>
            <li class="items-footer"><a href="#">Acerca de</a></li>
            <li class="items-footer"><a href="#">Contacto</a></li>
            <li class="items-footer"><a href="#">Sucursales</a></li>
        </ul>
        <ul class="barra-items-footer">
            <h3 class="h3-footer">SERVICIOS</h3>
            <div class="linea-inferior"></div>
            <li class="items-footer"><a href="#">Soporte tecnico</a></li>
            <li class="items-footer"><a href="#">Garantia</a></li>
            <li class="items-footer"><a href="#">Manuales</a></li>
        </ul>
    </nav>



</footer>