    <div class="top-bar"></div>
    <header class="header-principal">
        <div class="logo">
            <a href="/"><img class="imagen-logo" src="/images/logo.png" alt="logo de Casa de La Musica"></a>
            <a href="/"><img class="imagen-logo-mobile" src="/images/logo-icon.png" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion">
            <ul class="barra-items">
                <li><a class="items-noshow-mobile" href="/products/section/1">Guitarras</a></li>
                <li><a class="items-noshow-mobile" href="/products/section/8">Bajos</a></li>
                <li><a class="items-noshow-mobile" href="/products/section/4">Baterias</a></li>
                <li><a class="items-noshow-mobile" href="/products/section/3">Accesorios</a></li>
                <li><a class="items-show-mobile" href="/cart"><i id="iconos-barra" class="fas fa-shopping-cart"></i></a></li>
                <% if (locals.isLogged) { %>
                <li><a class="items-show-mobile" href="/products/create"><i class="fas fa-plus"></i></a></li>
                <% } %>
                <!-- <li><a class="items-show-mobile search-hide-desktop" href="/search"><i id="iconos-barra" class="fas fa-search"></i></a></li> -->
                <li class="search-bar-container search-hide-mobile"><i id="iconos-barra" class="fas fa-search login-icon icono-busqueda"></i><form action="/search" method="GET">
                    <input type="text" name="search" class="search input-search-bar">
                  </form></li>

                <% if (locals.isLogged) { %>

                <li><a class="items-show-mobile nombre-usuario" href="/users/profile"><div><img class="avatar-navbar-desktop" src="/images/users/<%= locals.loggedUser.avatar %>" alt=""></div> <div><p>Hola, <%= locals.loggedUser.first_name %>!</p></div></a>
                </li>
                <li><a class="items-show-mobile nombre-usuario-mobile" href="/users/profile"><img class="avatar-navbar-mobile" src="/images/users/<%= locals.loggedUser.avatar %>" alt=""> </a>
                </li>
                <li><a class="items-show-mobile" href="/users/logout"></i><i class="fas fa-sign-out-alt login-icon"></i></a>
                </li>
                <% } else { %>
                <li><a class="items-show-mobile" href="/users/login"><i class="fas fa-sign-in-alt login-icon"> <p class="login-button-text">LOGIN</p></i></a>
                </li>
                <% } %>
            </ul>
        </nav>
    </header>
